#AppInfo div.info-block.actions {
  margin-top: auto;
}

#AppInfo div.info-block.actions div.row {
  gap: 10px !important;
  padding: 10px;
  justify-content: end;
  width: 100%;
  align-items: center;
}

#AppInfo div.info-block.actions div.row button {
  margin: 0;
}

#AppInfo div.info-block.actions div.row p.id {
  margin: 0;
  margin-right: auto;
  padding: 0 5px;
  opacity: 0.5;
  font-family: "Source Code Pro", monospace;
}
#AppInfo div.info-block div.controls {
  display: flex;
  gap: 2px;
  height: 20px;
}

#AppInfo div.info-block div.controls button.titlebar-control {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 15px;
  width: 18px;
  height: 18px;
  color: var(--fg);
  transition: opacity 0.2s;
}

#AppInfo div.info-block div.controls button.titlebar-control:hover {
  color: var(--accent-light);
}

#AppInfo div.info-block div.controls button.titlebar-control:disabled,
#AppInfo div.info-block div.controls button.titlebar-control:active {
  opacity: 0.2;
}
